[Unit]
Description=Restart deepcool-ls720-digital after resume
After=suspend.target

[Service]
Type=simple
ExecStart=/bin/systemctl --no-block restart deepcool-ls720-digital.service

[Install]
WantedBy=suspend.target
