
[Unit]
Description=Displaying the current temperature and utilisation on the Deepcool ls720

[Service]
Type=simple
User=root
ExecStart= /usr/bin/python3 /usr/bin/deepcool-ls720-digital.py
Restart=always

[Install]
WantedBy=default.target
